body {
  margin: 0rem;
  padding: 0rem;
}
.mainContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../images/bg.jpg');
}
.mainContainer .loginSection {
  position: absolute;
  height: 35rem;
  width: 70rem;
  background: rgba(0, 0, 0, 0.6);
  margin-left: 19rem;
  margin-top: 15.5rem;
}
.mainContainer .loginSection .realBoxSection {
  position: absolute;
  height: 100%;
  width: 32rem;
  background: #ffffff;
}
.mainContainer .loginSection .realBoxSection .logo {
  position: relative;
  width: 100%;
  height: 18rem;
  background: #ffffff;
}
.mainContainer .loginSection .realBoxSection .logo .logoImage {
  position: absolute;
  transform: translate(70%, 18%);
}
.mainContainer .loginSection .realBoxSection .textRealBox {
  position: relative;
  top: 4%;
  height: 15.5rem;
  background: #ffffff;
  width: 100%;
}
.mainContainer .loginSection .realBoxSection .textRealBox .text {
  position: absolute;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: regular 400;
  color: #000000;
  text-align: center;
  margin-left: 6rem;
  margin-top: 3rem;
}
.mainContainer .loginSection .userInfo {
  position: absolute;
  height: 100%;
  width: 37rem;
  right: 0%;
}
.mainContainer .loginSection .userInfo .userProfileImg {
  position: relative;
  width: 100%;
  height: 18rem;
  background: #ffffff;
}
.mainContainer .loginSection .userInfo .userProfileImg .userImage {
  position: relative;
  transform: translate(10rem, 2rem);
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  border: 5px solid #f1c40f;
  cursor: pointer;
}
.mainContainer .loginSection .userInfo .screen {
  position: relative;
  top: 4%;
  height: 15.5rem;
  background: #ffffff;
  width: 100%;
}
.mainContainer .loginSection .userInfo .screen .textBox {
  position: absolute;
  float: left;
  width: 100%;
  height: 8rem;
}
.mainContainer .loginSection .userInfo .screen .textBox .inputBox {
  position: relative;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  font-family: sans-serif;
  text-align: center;
}
.mainContainer .loginSection .userInfo .screen .enterButton {
  position: absolute;
  width: 100%;
  margin-top: 9rem;
  height: 6.5rem;
  background: #ffffff;
  cursor: pointer;
}
.mainContainer .loginSection .userInfo .screen .enterButton .enterText {
  position: relative;
  margin-top: 1rem;
  font-size: 4rem;
  color: #000000;
  font-family: sans-serif;
  text-align: center;
}
